.vscode
notchian
bareiron
bareiron.exe
irongingot
irongingot.exe
build/
src/registries.c
include/registries.h
src/generated_village_templates.c
include/generated_village_templates.h
*.bin
bareiron_test
*.o
CHANGELOG.md
world.json
debug.log
